body {
		background-image: url(../Images/image-0.png);
	    background-size: cover; 
	    background-position: bottom right; 
	    line-height: 1.8; 
	    font-family: 'Montserrat', sans-serif;
	    background-attachment: fixed;
		}

.f-mono {
	font-family: monospace;
}

.btn-color{
	background-color: green;
    color: white;
}

.pre-recipe{
	background-color: green;
}

.nav-item a:hover:not(.active) {
	  background-color: green;
	  border-radius: 5px;
	  color:white;
}

